<div class="row">
  <div class="col-md-12">
    <form [formGroup]="empleado" (ngSubmit)="guardarDatos()">
      <div class="form-group">
        <label>Id Employee</label>
        <input type="text" class="form-control" readonly formControlName="EmployeeId" />
      </div>

      <div class="form-group">
        <label>Apellidos</label>
        <input type="text" class="form-control" formControlName="LastName" />
      </div>

      <div class="form-group">
        <label>Nombres</label>
        <input type="text" class="form-control" formControlName="FirstName" />
      </div>

      <div class="form-group">
        <label>Nro. Teléfono</label>
        <input type="number" class="form-control" formControlName="HomePhone" />
      </div>

      <div class="form-group">
        <label>Dirreción</label>
        <input type="text" class="form-control" formControlName="Address" />
      </div>

      <div>
        <input [disabled]="!empleado.valid" type="submit" value="Guardar" class="btn btn-primary" />
        <button [routerLink]="['/mantenimiento-persona']" class="btn btn-danger">Regresar</button>
      </div>
    </form>
  </div>
</div>

<div style="margin:1em" *ngIf="empleado.valid==false">
   <div class="alert alert-danger">El formulario no es válido, por favor verificar los datos.</div>
</div>

<!--{{empleado.valid}}-->
