
<table class="table">

  <thead class="thead-dark">
    <tr>
      <th *ngFor="let cabe of cabeceras">{{cabe}}</th>
      <th *ngIf="isMantenimiento==true">Operaciones</th>
    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let _usua of usuarios">
      <td>{{_usua.coUsua}}</td>
      <td>{{_usua.noUsua}}</td>
      <td>{{_usua.coGrup}}</td>
      <td>{{_usua.noGrup}}</td>
      <td *ngIf="isMantenimiento==true">
        <i [routerLink]="['/usuario-form-mantenimiento', _usua.coUsua]" class="glyphicon glyphicon-edit btn btn-primary"></i>
        <i class="glyphicon glyphicon-trash btn btn-danger" (click)="eliminarUsuario(_usua.coUsua)"></i>
      </td>
    </tr>

  </tbody>
</table>
