
<table class="table">

  <thead class="thead-dark">
    <tr>
      <th *ngFor="let cabe of cabeceras">{{cabe}}</th>
      <th *ngIf="isMantenimiento==true">Operaciones</th>
    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let emple of empleados | paginate: { itemsPerPage: 5, currentPage: p }">
      <td>{{emple.employeeId}}</td>
      <td>{{emple.nombreCompleto}}</td>
      <td>{{emple.homePhone}}</td>
      <td>{{emple.birthDate}}</td>
      <td>{{emple.city}}</td>
      <td *ngIf="isMantenimiento==true">
        <i [routerLink]="['/persona-form-mantenimiento', emple.employeeId]" class="glyphicon glyphicon-edit btn btn-primary"></i>
        <i class="glyphicon glyphicon-trash btn btn-danger" (click)="eliminar(emple.employeeId)"></i>
      </td>
    </tr>

  </tbody>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
