
<table class="table">

  <thead class="thead-dark">
    <tr>
      <th *ngFor="let cabe of cabeceras">{{cabe}}</th>
      <th *ngIf="isMantenimiento==true">Operaciones</th>
    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let emple of empleados">
      <td>{{emple.employeeId}}</td>
      <td>{{emple.nombreCompleto}}</td>
      <td>{{emple.homePhone}}</td>
      <td>{{emple.birthDate}}</td>
      <td>{{emple.city}}</td>
      <td *ngIf="isMantenimiento==true">
        <i class="glyphicon glyphicon-edit btn btn-primary"></i>
        <i class="glyphicon glyphicon-trash btn btn-danger"></i>
      </td>
    </tr>

  </tbody>
</table>
